.blog-bg {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: fit-content;
}

.blog-title {
  width: 55%;
  color: rgb(31, 145, 31);
  padding: 180px 20px 170px 40px;
  text-align: center;
  line-height: 90px;
  font-size: 70px;
  font-family: "Press Start 2P";
  font-weight: 1000px;
}

.blog-pg {
  background-color: rgb(0, 0, 0);
  color: rgb(201, 201, 201);
  width: 30em;
  font-size: 25px;
  text-align: left;
}

.large-images {
  width: 700px;
}

.small-images {
  width: 500px;
}

.code-snippet {
  background-color: #c6c6c6;
  color: #333;
  padding: 10px;
  border: 2px solid rgb(210, 205, 205);
  border-radius: 4px;
  width: 720px;
  height: fit-content;
  font-family: monospace;
  font-size: 20px;
}

h6 {
  color: rgb(31, 145, 31);
  font-size: xx-large;
}

.green {
  color: rgb(31, 145, 31);
}

a {
  color: rgb(31, 145, 31);
  text-decoration: underline;
}

/* applying media queries */
/* for small devices */
@media screen and (max-width: 480px) {
  .blog-bg {
    width: 100%;
  }
  .blog-title {
    font-size: 35px;
    font-weight: 800px;
    padding: 20px;
    line-height: 50px;
    width: 80%;
    text-align: center;
  }
  .blog-pg {
    width: 80%;
    font-size: 20px;
  }
  .large-images {
    width: 96%;
  }
  .small-images {
    width: 85%;
  }
  .code-snippet {
    font-size: 8px;
    width: 95%;
  }
}

/* for medium devices */
@media screen and (min-width: 480px) and (max-width: 800px) {
  .blog-bg {
    width: 100%;
  }
  .blog-title {
    font-size: 40px;
    font-weight: 900px;
    padding: 20px;
    line-height: 50px;
    width: 80%;
    text-align: center;
  }
  .blog-pg {
    width: 80%;
    font-size: 22px;
  }
  .large-images {
    width: 96%;
  }
  .small-images {
    width: 85%;
  }
  .code-snippet {
    font-size: 10px;
    width: 95%;
  }
}
