* {
  margin: 0;
  padding: 0;
}

/* home page */

nav ul li {
  list-style: none;
  margin-bottom: 40px;
}

.nav-btn {
  color: white;
  background-color: rgba(223, 214, 214, 0.25);
  border-radius: 10px;
  border: none;
  padding: 20px 40px;
  min-width: 160px;
  font-family: Aboreto;
  font-weight: 1000;
}

/* about page */

.box{
  background-color: transparent;
  height: 70vh;
  width: 40%;
  margin: 30px 70px;
}
.custom-container {
  background-color: rgba(223, 214, 214, 0.25);
  border-radius: 10px;
  border: none;
  font-family: Lato;
  font-weight: 1000;
  /* font-size: 50px; */
  color: rgb(40, 38, 38);
  margin: 20px;
  padding: 20px 10px;
  width: fit-content;
  min-width: 40em;
}


/* blog page */

.blg-btn{
  border: none;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: rgba(223, 214, 214, 0.25);
  border-radius: 10px;
  font-family: Aboreto;
  padding: 40px 70px;
  font-weight: 800;
  font-size: x-large;
}