* {
  margin: 0;
  padding: 0;
}

/* home page */
#home {
  height: 100vh;
  width: 100%;
}

nav ul li {
  list-style: none;
  margin-bottom: 40px;
}

.nav-btn {
  color: white;
  background-color: rgba(223, 214, 214, 0.25);
  border-radius: 10px;
  border: none;
  padding: 20px 40px;
  min-width: 160px;
  font-family: Aboreto;
  font-weight: 1000;
}

/* about page */
#about{
  height: 100vh;
  width: 100%;
}

.container{
  width: 50%;
  height: 70%;
  background-color: rgba(223, 214, 214, 0.25);
  border-radius: 10px;
  border: none;
  padding: 10px 60px;
  color: white;
  font-family: Aboreto;
  font-weight: 1000;
}