.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.nav-btn{
    color: white;
    background-color: rgb(170, 57, 219);
    padding: 20px 40px;
    margin: 10px;
    border-radius: 10px;
}