@media screen and (max-width: 400px){
    .custom-container {
      min-width: 4em;
      width: 100%;
    }
    .box{
      padding-top: 600px;
      background-color: #fff;
      width: 200%;
      min-width: 4em;
    }
  }
  