/* for small and medium size devices */

/* for small devices */
@media (width<=480px) {
  .small-images {
    width: 200px;
  }
  .large-images {
    width: 270px;
  }
  .blog-pg {
    width: 300px;
    font-size: 15px;
  }
  .blog-title {
    font-size: 40px;
    font-weight: 800px;
    padding: 180px 85px 40px 0px;
    line-height: 50px;
  }
  .code-snippet {
    padding: 10px;
    font-size: 8px;
    border: 1px solid rgb(210, 205, 205);
    border-radius: 2px;
    width: 270px;
  }
  .blog-bg {
    width: 480px;
  }
}

/* for medium size devices */
@media (width<=800px) and (width >=600px) {
  .small-images {
    width: 450px;
  }
  .large-images {
    width: 500px;
  }
  .blog-pg {
    width: 590px;
    font-size: 18px;
  }
  .blog-title {
    font-size: 50px;
    font-weight: 900px;
    padding: 180px 85px 40px 0px;
    line-height: 60px;
  }
  .code-snippet {
    padding: 15px;
    font-size: 14px;
    border: 2px solid rgb(210, 205, 205);
    border-radius: 5px;
    width: 500px;
  }
  .blog-bg {
    width: 800px;
    width: 100%; 
} 
}


/* for small and medium between size devices */
@media (width<600px) and (width >480px) {
  .small-images {
    width: 350px;
  }
  .large-images {
    width: 400px;
  }
  .blog-pg {
    width: 475px;
    font-size: 18px;
  }
  .blog-title {
    font-size: 45px;
    font-weight: 850px;
    padding: 180px 85px 40px 0px;
    line-height: 55px;
  }
  .code-snippet {
    padding: 15px;
    font-size: 10px;
    border: 2px solid rgb(210, 205, 205);
    border-radius: 5px;
    width: 400px;
  }
  .blog-bg {
    width: 600px;
    width: 100%; 
} 
}
