/* for small devices */
@media (width<480px) {
  .blog-bg {
    width: 100%;
  }
  .blog-title {
    font-size: 35px;
    font-weight: 800px;
    padding: 20px;
    line-height: 50px;
    width: 80%;
    text-align: center;
  }
  .blog-pg {
    width: 80%;
    font-size: 20px;
  }
  .large-images {
    width: 96%;
  }
  .small-images {
    width: 85%;
  }
  .code-snippet {
    font-size: 8px;
    width: 95%;
  }
}


/* for medium devices */
@media (width<=800px) and (width >=480px) {
  .blog-bg {
    width: 100%;
  }
  .blog-title {
    font-size: 40px;
    font-weight: 900px;
    padding: 20px;
    line-height: 50px;
    width: 80%;
    text-align: center;
  }
  .blog-pg {
    width: 80%;
    font-size: 22px;
  }
  .large-images {
    width: 96%;
  }
  .small-images {
    width: 85%;
  }
  .code-snippet {
    font-size: 10px;
    width: 95%;
  }
}
